/*https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429*/
body, tw-story
{
  font-family: Georgia, serif;
  font-size: 18px;
  background-color: #2B2D42;
}
tw-passage
{
    color: #8D99AE;
}
tw-link
{
    color: #D90429;
    transition: all 0.2s;
}

.enchantment-link:hover, tw-link:hover, a:hover, tw-link.visited:hover 
{
    color: #ba0c1f;
    border-bottom: 1px solid  #ba0c1f;
}

.enchantment-link:visited, tw-link:visited, .enchantment-link.visited, tw-link.visited, a:visited 
{
    color:#D90429;
}

/* title page */
tw-story[tags~="title"], tw-story[tags~="title"]{
    background-color: #161616
}

tw-passage img {
    max-width: 100%;
	  display: block;
	  margin: 0 auto;
}


/* the browser effect used for the ship's console type thing */
tw-story[tags~="browser"] {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  background-color: #c3c3c3;
}

tw-passage[tags~="browser"] {
    color: #000000;

}
tw-story[tags~="browser"] tw-link, tw-story[tags~="browser"] .enchantment-link {
    color: #0000FF;
    text-decoration: underline;
}

tw-story[tags~="browser"] tw-link:hover, tw-story[tags~="browser"] .enchantment-link:hover {
    color: #0000FF;
    text-decoration: underline dotted;
}
tw-story[tags~="browser"] tw-link:visited, tw-story[tags~="browser"] .enchantment-link:visited {
    color: #0000FF;
    text-decoration: underline;
}


/* for the terminal effect used when ordering stuff */
tw-story[tags~="terminal"], tw-story[tags~="terminal"] {
    background-color: #000000;
    font-family: Monospace;
}
tw-passage[tags~="terminal"] {
    color: #00FF00;

}
tw-story[tags~="terminal"] tw-link, tw-story[tags~="terminal"] .enchantment-link {
    color: #39FF14;
}
tw-story[tags~="terminal"] tw-link:hover, tw-story[tags~="terminal"] .enchantment-link:hover {
    color: #808000;
    border-bottom: none;
}
tw-story[tags~="terminal"] tw-link:visited, tw-story[tags~="terminal"] .enchantment-link:visited {
    color: #808000;
}

/* Sleep css, for dream sequences */
tw-story[tags~="sleep"], tw-story[tags~="sleep"] {
    background-color: #FFFFFF;
    font-family: arial;
}
tw-passage[tags~="sleep"] {
    color: #000000;
}
tw-story[tags~="sleep"] tw-link, tw-story[tags~="sleep"] .enchantment-link {
    color: #0F0F0F;
}
tw-story[tags~="sleep"] tw-link:hover, tw-story[tags~="sleep"] .enchantment-link:hover {
    color: #0F0F0F;
    border-bottom: none;
}
tw-story[tags~="sleep"] tw-link:visited, tw-story[tags~="sleep"] .enchantment-link:visited {
    color: #0F0F0F;
}

.nav-text{
    width: 150px;
    font-size: 20px !important;
    position: absolute;
}

/*
  Reposition the Sidebar 'footer' tagged passage.
*/
tw-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%; /* padding-right of the tw-story element. */
  max-height: 100%;
  margin-top: 5%; /* padding-top of the tw-story element. */
  padding: 0 0.5em 0.5em 0.5em;
  text-align: right;
  background-color: transparent;
}
tw-icon {
  text-align: right;
  padding-right: 0.75em;
}

/* use this to center the "compass" */
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.menu-text {
    margin: auto;
    padding: 10px;
    text-align: center;
}

/* uncomment this to hide the undo redo buttons */
/* tw-sidebar tw-icon[title*="undo" i], */
/* tw-sidebar tw-icon[title*="redo" i] { */
/*   display: none; */
/* } */

.container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}

.item {
  text-align: center;
}

/* deletable */



